details {
  pointer-events: all;
}

summary {
  outline: none;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

summary:hover ::slotted(span[slot='title']) {
  text-decoration: underline;
}

details > summary::marker {
  display: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

slot[name='title'] {
  cursor: pointer;
}

slot[name='title']:hover {
  text-decoration: underline;
}

slot[name='icon'] {
  cursor: pointer;
  display: flex;
  transition: transform 0.35s ease-in-out;
}

details[open] slot[name='icon'] {
  transform: rotate(90deg);
}
